// git ignore for react js 
node_modules
npm-debug.log
.DS_Store
.env
.env.development
.env.production
.env.test
build
coverage
**/build/*
**/coverage/*
**/node_modules/*
**/npm-debug.log*
**/.DS_Store
**/.env
**/.env.development
**/.env.production
**/.env.test
**/build
**/coverage